/* RESPONSIVENESS */
@media screen and (max-width: 800px) {
  nav.main-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 30vw;
    right: -30vw;
  }

  nav.main-nav .container.nav-container ul {
    position: absolute;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  nav.main-nav .container.nav-container ul li {
    display: block;
    margin-bottom: 25px;
    white-space: nowrap;
  }

  nav.main-nav .container.nav-container img {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .project-section.one {
    top: 50%;
    left: 51%;
  }
  .project-section.one div {
    width: 500px;
  }

  .project-section.one iframe {
    width: 300px;
    margin-left: -2%;
  }

  .description-container {
    width: 290px;
    top: -10px;
    bottom: 100px;
  }

  .description-container p {
    position: relative;
    left: -10px;
  }

  .description-container h2 {
    position: relative;
    text-align: center;
    left: -20px;
  }

  .card.theme-card {
    width: 500px;
    left: 360px;
  }

  .btn-container {
    grid-template-columns: 1fr;
    left: 340px;
    top: 150%;
  }

  .tema4_card {
    width: 500px;
    left: 51%;
  }

  .tema4-button-container {
    left: 60%;
    top: 135%;
  }

  .tema5_card {
    width: 500px;
    height: 1000px;
    left: 45%;
    top: 125%;
  }
  .tema5_card div {
    grid-template-columns: 1fr;
    left: 10%;
  }

  .tema5_card div img:last-child {
    margin-left: -80px;
    width: 450px;
  }
  .tema5_card iframe {
    width: 300px;
    left: 15%;
  }

  .tema5-button-container {
    top: 205%;
    width: 90%;
    font-size: 80%;
    left: 70%;
  }

  footer {
    margin-top: 55%;
    left: -13.5%;
  }

  .card.theme-card {
    /* position: relative; */
    width: 65%;
    height: 800px;
    margin-left: -4%;

    display: flex;
  }

  .card.theme-card img {
    width: 500px;
    margin: 20%;
    margin-left: 35%;
    margin-top: -55%;
  }

  .container.btn-container.tema3-btn-container {
    top: 175%;
    left: 41%;
  }

  .card.theme-card p {
    width: 300px;
    margin-top: 100px;
    margin-left: -380px;
    text-align: center;
  }

  .btn.btn-cv {
    position: relative;
    top: -250px;
    left: -10px;
  }
  iframe {
    border-radius: 10px;
  }

  .tema.tema-tre .card.theme-card img {
    margin-left: -65%;
  }
  .tema.tema-tre .card.theme-card p {
    margin-left: 10%;
    top: 45%;
  }

  .tema3-btn-container {
    margin-top: 30%;
  }

  .instagram {
    left: 20%;
    width: 40px;
    height: 20px;
  }
}
